crosstalk-1.1.1
htmlwidgets-1.5.3
jquery-3.5.1
plotly-binding-4.10.0
plotly-binding-4.9.4.1
plotly-htmlwidgets-css-1.57.1
plotly-htmlwidgets-css-2.5.1
plotly-main-1.57.1
plotly-main-2.5.1
typedarray-0.1
