crosstalk-1.1.1
htmlwidgets-1.5.3
jquery-3.5.1
plotly-binding-4.10.0
plotly-binding-4.9.4.1
plotly-htmlwidgets-css-1.57.1
plotly-htmlwidgets-css-2.5.1
plotly-main-1.57.1
plotly-main-2.5.1
typedarray-0.1
HomeButton-0.0.1
Proj4Leaflet-1.0.1
clipboard-0.0.1
leaflet-1.3.1
leaflet-binding-2.0.4.1
leaflet-providers-1.9.0
leaflet-providers-plugin-2.0.4.1
leafletfix-1.0.0
mapviewCSS-0.0.1
proj4-2.6.2
rstudio_leaflet-1.3.1
